.btn-pop-up-msg{
    background-color: aqua !important;
}


.ant-popover .ant-popover-inner {
    width: 22.4rem !important;
}
.ant-btn-variant-solid{
    background-color: rgba(0, 0, 0, 0.88) !important;
    color: white !important;
}