// Scope this under your modal class
.add-patient-modal {
  width: 70rem !important;

  .ant-modal-content {
    display: flex !important;
    flex-direction: column !important;
    gap: 2rem !important;

    .ant-modal-body {
      .ant-form {
        display: flex !important;
        flex-direction: column !important;
        gap: 1rem !important;
      }
    }
  }

  &__form-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
  }
}

.ant-checkbox-rtl .ant-checkbox-inner {
  transform: scaleX(-1) rotate(-90deg);
}
