.date-picker {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 25rem;
  height: 100%;

  &__input {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    border-radius: 0;
    border-color: var(--Border-color-border);

    .ant-picker-input {

      width: auto !important;
      min-width: 8rem !important;


      font-size: 1.4rem;
      font-family: Rubik, serif;

      input {
        text-align: center !important;
      }
    }

    &--tag {
      margin: 0;

      font-size: 1.4rem;
      font-family: Rubik, serif;
      color: var(--Text-color-text-secondary) !important;
      background-color: var(--control-item-bg-active) !important;
    }
  }

  &__button {
    width: 4rem !important;
    height: 100%;
    
    border: var(--Border) !important;

    &--next {
      border-radius: 8px 0px 0px 8px;
      border-right: none !important;
    }

    &--prev {
      border-radius: 0px 8px 8px 0px;
      border-left: none !important;
    }
  }
}
