.home-screen-body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 10%;
    min-height: 8rem;
    width: 100%;

    &__right {
      font-size: 1.6rem;
    }

    &__left {
      display: flex;
      align-items: center;
      gap: 1rem;

      &__button {
        display: flex;
        align-items: center !important;

        svg {
          width: 2rem;
          height: 2rem;
        }
      }
    }
  }
  &__container{
    display: flex;
    flex-direction: row;
    gap: 1rem;

    height: 90%;
    width: 100%;

    &__body {
      display: flex;
      direction: ltr;
    flex-direction: column;

      width: 100%;

      background-color: white;
      border: var(--Border);
      border-radius: 12px;
      overflow: hidden;
      box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    }
  }
}
