.kpi {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;

  font-size: 1.6rem;

  svg {
    stroke: var(--Text-color-text-secondary);
  }

  &__value {
    color: var(--Text-color-text);
  }
}
