.edit-field {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 0.8rem;

  &__text {
    font-size: 1.4rem;
  }

  &__date-icon {
    color: red;
    pointer-events: auto;
    cursor: pointer;
  }

  &__icon {
    width: 100%;
    visibility: hidden;
    display: flex;
    align-items: center;
    cursor: default;

    &--visible {
      color: red;
      visibility: visible;
      cursor: pointer;
    }
  }

  &__input {
    width: 100%;
  }

  &__top {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
    gap: 0.4rem;
  }

  &__title {
    color: var(--Text-color-text, rgba(0, 0, 0, 0.88));
    text-align: right;
    font-family: Rubik, serif;
    font-size: 1.4rem;
  }

  &__body > .ant-picker {
    padding: 0;
  }
}

.ant-picker-ok span {
  font-size: 0;

  &:after {
    content: "עכשיו" !important;
    font-size: 1.6rem;
  }
}

.ant-checkbox-inner:after{
  direction: ltr!important;
}
.ant-picker-input,
.ant-select-single,
.ant,
.ant-btn,
.ant-select,
.ant-checkbox-inner,
.ant-select-multiple,
.ant-select-arrow,
.ant-select-selector,
.ant-input,
.ant-picker {
  font-size: 1.4rem !important;
}

.ant-btn {
  padding: 0 1.2rem;
  height: 3.2rem;
}

.ant-picker-content tr {
  flex-direction: row-reverse;
}

.ant-picker {
  &-input {
    flex-direction: row-reverse !important;

    padding: 0.4rem !important;

    direction: rtl;
    font-family: Rubik, serif !important;

    & input {
      font-size: 1.4rem !important;
    }
  }

  &-clear {
    margin-inline-end: 4px;
  }

  &-content {
    direction: ltr;
  }

  &-suffix {
    padding-left: 0.4rem;
  }
}

.custom-tag {
  margin-inline-end: 0.6rem;
}
