#root {
  --Text-color-text: rgba(0, 0, 0, 0.88);
  --Text-color-text-secondary: rgba(0, 0, 0, 0.65);
  --Text-color-text-tertiary: rgba(0, 0, 0, 0.45);

  --Colors-orange-6:#FA8C16;
  --Colors-orange-3: #FFD591;
  --Colors-purple-6: #722ED1;
  --Colors-purple-3: #D3ADF7;
  --Colors-green-6: #52C41A;
  --Colors-green-3: #B7EB8F;
  --Colors-cyan-6: #13C2C2;
  --Colors-cyan-3: #87E8D3;
  --Colors-geekblue-6: #2F54EB;
  --Colors-geekblue-3: #ADC6FF;

  --Border-color-border: #d9d9d9;
  --Border-color-border-secondary: white;
  --Background-color-bg-layout: #f5f5f5;
}
