@use "./driver-organization-header";
@use "./driver-organization-card";
@use "./driver-organization-card-content";

.driver-organization {
  height: 84rem;
  &__modal .ant-modal-content {
    padding: 0;
  }

  // for some reason the original font-family declaration gets overwritten in modal
  & * {
    font-family: var(--Font-family, Rubik) !important;
  }
}
