.driver-organization-header {
  direction: ltr;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem 3.2rem;

  & * {
    direction: ltr;
  }

  &__button {
    &__container {
      display: flex;
      align-items: center;
      gap: 1.6rem;
    }

    &__icon {
      height: 1.6rem;
      width: 1.6rem;
    }
  }

  &__title {
    font-size: 2.4rem;
    font-weight: 500;

    &__container {
      display: flex;
      align-items: center;
      gap: 1.2rem;
    }
    &__name {
      padding-left: 1rem;
      border-left: 0.15rem solid #d9d9d9;
      height: 1.6rem;
      line-height: 1.6rem;
      font-size: 2.4rem;
      font-weight: 400;
    }
  }
}
