.driver-organization-card {
  width: -webkit-fill-available;
  width: -moz-available; // not needed if not using Firefox.

  background: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 6px;

  &__container {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    height: 75.6rem;
    padding: 3.2rem;
    border-radius: 0 0 8px 8px;

    background: #f5f5f5;
    overflow: auto;
    gap: 2.4rem;

    &::-webkit-scrollbar {
      width: 2.8rem;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--Fill-color-fill, rgba(0, 0, 0, 0.15));
      border: 1rem solid transparent;
      border-radius: 20px;
      background-clip: content-box;
    }
  }

  &__date {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.8rem;

    background: rgba(0, 0, 0, 0.02);

    &__text {
      font-size: 1.6rem;
      text-align: right;
      color: rgba(0, 0, 0, 0.65);
    }
  }

  &__details {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.8rem;

    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      height: 4.8rem;
      margin-right: 2.5rem;
      margin-left: 3.5rem;
    }

    &__icon {
      width: 2.4rem;
      height: 2.4rem;

      color: black;
      opacity: 0.45;
    }

    &__text {
      font-weight: 400;
      text-align: right;
      color: rgba(0, 0, 0, 0.65);
    }
  }
}
